Numbers

In [1]:
m = 4
m

4

In [2]:
type(m)

int

In [3]:
n = 2.5

In [4]:
type(n)

float

In [5]:
m + n

6.5

In [6]:
m - n

1.5

In [7]:
m * n

10.0

In [8]:
m / n

1.6

In [9]:
m ** n

32.0

In [10]:
#Integer Division
m // n

1.0

In [12]:
#modulo, or remainder after division
m % n

1.5

Stings

In [24]:
a = 'Hello '
b = 'World'

In [25]:
type(a)

str

In [26]:
len(a)

6

In [27]:
#element at index 1
a[1]

'e'

In [28]:
#elements from index 1 to 3 not including 3
a[1:3]

'el'

In [29]:
#elements of b from index 0 to 3 not including 3
b[:3]

'Wor'

In [30]:
#elements of a starting from index 1
a[1:]

'ello '

In [31]:
a + b

'Hello World'

In [32]:
a * 2

'Hello Hello '

In [33]:
#strings are immutable
a[1] = '0'

TypeError: 'str' object does not support item assignment

Booleans

In [34]:
h = True

In [35]:
type(h)

bool

In [37]:
4 == 4

True

In [38]:
4 == 3

False

In [44]:
# combining boolean statements. 2 booleans combined with "and" evaluate to True if both booleans evaluate
# to true separately and False otherwise. 
True and False

False

In [45]:
# combining boolean statements. 2 booleans combined with "or" evaluate to True if either boolean evaluates
# to true separately and False if bothe booleans evaluate to False separately
True or False

True

In [46]:
4 == 4 and 4 == 3

False

In [47]:
4 == 4 or 4 == 3

True

Conversions

In [48]:
str(1)

'1'

In [49]:
float('1.2')

1.2

In [50]:
bool(1)

True

In [51]:
bool(0)

False

In [52]:
int('abc')

ValueError: invalid literal for int() with base 10: 'abc'

Lists

In [53]:
l1 = ['Alice', 'Bob', 'Cathy', 'Dan']
l2 = [1, 3, -2, 5]

In [54]:
type(l1)

list

In [55]:
len(l1)

4

In [56]:
l1[1:3]

['Bob', 'Cathy']

In [57]:
# all elements of l1 up to but not including the last element. -1 denotes the last
# element, -2 denotes the second last, and so on. 
l1[:-1]

['Alice', 'Bob', 'Cathy']

In [58]:
l1[1:]

['Bob', 'Cathy', 'Dan']

In [59]:
l1 + l2

['Alice', 'Bob', 'Cathy', 'Dan', 1, 3, -2, 5]

In [60]:
l2[1] = 4
l2

[1, 4, -2, 5]

In [61]:
l2.append(6)
l2

[1, 4, -2, 5, 6]

In [62]:
l3 = [[1,2],['Alice','Bob']]
l3[0]

[1, 2]

In [63]:
'Bob' in l1

True

In [65]:
'Ethan' in l1

False

In [66]:
max(l2)

6

In [67]:
min(l2)

-2

In [68]:
sum(l2)

14

In [69]:
sorted(l2)

[-2, 1, 4, 5, 6]

In [70]:
sorted(l2, reverse=True)

[6, 5, 4, 1, -2]

Tuples

In [71]:
t1 = (1,2)

In [72]:
type(t1)

tuple

In [73]:
t1[0]

1

In [74]:
#tuples are immutable
t1[0] = 3

TypeError: 'tuple' object does not support item assignment

In [75]:
t2 = (3,4)

In [76]:
t1 + t2

(1, 2, 3, 4)

Sets

In [77]:
s1 = {'a','b','c','d'}
s2 = {'c','d','e'}

In [79]:
type(s1)

set

In [81]:
#the elements of a set are always unique
{2,3,1,1}

{1, 2, 3}

In [85]:
#elements that are either in s1 or s2
s1 | s2

{'a', 'b', 'c', 'd', 'e'}

In [86]:
#elements that are in both s1 and s2
s1 & s2

{'c', 'd'}

In [88]:
#elements that are in s1 and not in s2
s1 - s2

{'a', 'b'}

In [90]:
# elements that are in either set, but not both
s1 ^ s2

{'a', 'b', 'e'}

Dictionaries

In [91]:
d1 = {'a':1, 'b':2}

In [92]:
d1['a']

1

In [93]:
d1.keys()

dict_keys(['a', 'b'])

In [94]:
d1.values()

dict_values([1, 2])

In [96]:
#alternate way of declaring dictionary
d2 = dict([('Alice',1),('Bob',2)])
d2

{'Alice': 1, 'Bob': 2}

In [97]:
d1['a'] = 3
d1

{'a': 3, 'b': 2}

In [98]:
d1['c'] = 4
d1

{'a': 3, 'b': 2, 'c': 4}

In [99]:
'a' in d1

True

In [100]:
d1.items()

dict_items([('a', 3), ('b', 2), ('c', 4)])